body {
    background-color: #E5E5E5;
}

.titleLabel {
    font-family: Roboto;
    font-size: 130%;
    font-weight: 600; //semi-bold
}

 .errorLabel {
     font-family: Roboto;
     font-size: larger;
     color: #d1001d;
 }

vaadin-grid-cell-content {
    font-size: 110%;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

vaadin-grid {
    padding-bottom: 10px;
    border: 5px solid #1C6EA4;
    border-radius: 8px;
}

.kontoBankoweGrid button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #446ade;
    border-radius: 11px;
    border: 0px solid #ffffff;
    padding: 10px 12px 10px 12px;
    color: #ffffff;
    font-size: 110%;
    font-weight: 300;
    font-style: normal;
    font-family: Roboto;
    width: 150px;
    outline:none;
}

@media screen and (max-width: 1000px) {
    .titleLabel {
        font-family: Roboto;
        font-size: 100%;
    }

    vaadin-grid-cell-content {
        font-size: 90%;
    }
    .kontoBankoweGrid button {
        padding: 10px 12px 10px 12px;
        font-size: 90%;
        width: 100px;
    }

}


@media screen and (max-width: 550px) {
    .titleLabel {
        font-family: Roboto;
        font-size: 80%;
    }

    vaadin-grid-cell-content {
        font-size: 65%;
    }

    .kontoBankoweGrid button {
        padding: 7px 9px 7px 9px;
        font-size: 70%;
        width: 60px;
    }

}

@media screen and (max-width: 425px) {
    .titleLabel {
        font-family: Roboto;
        font-size: 60%;
    }

    vaadin-grid-cell-content {
        font-size: 50%;
    }

    .kontoBankoweGrid button {
        padding: 6px 8px 6px 8px;
        font-size: 50%;
        width: 50px;
    }

}

@media screen and (max-width: 335px) {
    .titleLabel {
        font-family: Roboto;
        font-size: 50%;
    }

    vaadin-grid-cell-content {
        font-size: 35%;
    }

    .kontoBankoweGrid button {
        padding: 4px 6px 4px 6px;
        font-size: 35%;
        width: 40px;
    }

}